<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
   :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
    font-weight: bold;
  }

  .dropdownblock {
    max-width: 1080px; 
    width: 100%; 
    margin: 0px auto;
  }

  .addtocart_button {
    display: block; 
    margin: 10px auto; 
    padding: 0px 35px; 
    background-color:#00FF80; 
    color:white
  }

.price {
    font-size: 1.5em;
  }

.text_bold {
  font-weight: bold;
}

.settings_icon {
  display: none;
  visibility:hidden;
}
.icons_bg {
  display: none;
  background-color: #44ABFF;
  width: 100%;
  padding: 15px;
  color: #FFF;
  position: relative;
}
.mat-card-tile{
        height:80%;
        overflow:visible;
        text-align: center;
      }
      .mat-grid-tile-div{
        display:block;
        margin:30px 0px;
      }
      .mat-grid-tile-div img{
        display:block;
        width:100%;
      }
  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 0px auto 0px;
    padding: 0 16px;
    max-width: 1080px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, .2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, .35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
  /* Responsive Styles */

  @media screen and (max-width: 768px) {
    .card-container>*:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }

    .dropdownblock {
      max-width: 450px;
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke, .login_btn {
      display: none;
      visibility: hidden;
    }
  .mat-card-tile {
    width: 100%;
    display: block;
    margin: 0px auto;
    border: 0px ;
    position: relative;
  }
  .icons_bg, .settings_icon {
    display: block;
    visibility: visible;
  }
  .toolbar {
    position: relative;
  }

  .list_icon {
    margin: 0px 10px;
  }

  .user_icon {
    margin-left: 4em;
  }

  .cart_icon {
    margin-left: 5em;
  }

}
@media screen and (max-width: 480px){
  .dropdownblock{
    max-width: 230px;
  }
  .toolbar{
    padding:0 10px;
    width: 100%;
  }
.settings_icon {
  margin-right: 15px;
}
.home_icon{
  margin-left: 5em;
}
}
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  
  <mat-icon aria-hidden="false" class="home_icon" aria-label="Example home icon">home</mat-icon>
  

<h2>eShop</h2>
  <div class="spacer"></div>
  <div class="example-button-row">
    <button mat-button class="text_bold login_btn">LOGIN</button>
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="settings_icon">settings</mat-icon>
  </div>
</div>

<div class="icons_bg">
  <mat-icon aria-hidden="false" aria-label="Example home icon" class="list_icon">list</mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example home icon" class="user_icon">person</mat-icon>
  <mat-icon aria-hidden="false" aria-label="Example home icon" class="cart_icon">shop</mat-icon>
</div>
<div class="content" role="main">
  <img mat-card-image src="../assets/Images/Tshirt-design.jpg" width="100%" height="300" alt="Photo">
</div>
<div style="background-color: lightseagreen; width: 100%; padding: 10px 0px;">
  <div class="dropdown dropdownblock">
    <mat-form-field>
      <mat-label>Brand</mat-label>
      <mat-select placeholder="All">
        <mat-option>One</mat-option>
        <mat-option>Two</mat-option>
        <mat-option>Three</mat-option>
        <mat-option>Four</mat-option>
        <mat-option>Five</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select placeholder="All">
        <mat-option>One</mat-option>
        <mat-option>Two</mat-option>
        <mat-option>Three</mat-option>
        <mat-option>Four</mat-option>
        <mat-option>Five</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon style="color:white;  background-color: #07D307; padding: 10px;" aria-hidden="false" aria-label="Example home icon">keyboard_arrow_right</mat-icon>
  </div>
</div>
<div style="max-width: 1080px; margin: 0px auto; display: block; width: 100%;">
    
  <h3 align="center" class="text_bold">Showing 10 of 12 Products<span><button mat-button class="text_bold">Next</button></span></h3>
  
  <mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
    <mat-grid-tile class="mat-card-tile">
      <div class="mat-grid-tile-div"><img mat-card-image src="../assets/Images/.Net.jfif" class="mat-grid-tile-div img">
        <button mat-raised-button class="addtocart_button">[ADD TO CART]</button>
        <p>.Net Black & white mug.</p>
        <p class="price">$8.5</p>
      </div>
      </mat-grid-tile>
      
      <mat-grid-tile class="mat-card-tile">
          <div class="mat-grid-tile-div"><img mat-card-image src="../assets/Images/.net2.jfif" class="mat-grid-tile-div img">
            <button mat-raised-button class="addtocart_button">[ADD TO CART]</button>
            <p>.Net Black & white mug.</p>
            <p class="price">$12</p>
          </div>
          </mat-grid-tile>

          <mat-grid-tile class="mat-card-tile">
              <div class="mat-grid-tile-div"><img mat-card-image src="../assets/Images/.Nettshirt.jfif" class="mat-grid-tile-div img">
                <button mat-raised-button class="addtocart_button">[ADD TO CART]</button>
                <p>.Net Black & white mug.</p>
                <p class="price">$19.5</p>
              </div>
              </mat-grid-tile>

    
  </mat-grid-list>

</div>
















<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>